.fillindicator{
	-fx-inner-radius: 20.0;
}
.fillindicator-border-circle {
	-fx-opacity: 0.6;
	-fx-stroke:  circleindicator-color; 
	-fx-stroke-width: 3.0px;
	-fx-fill: -fx-background;
}
.fillindicator-filler-circle {
	-fx-opacity: 0.75;
	-fx-stroke-width: 0.0px;
	-fx-fill:   #009371;
}
.fillindicator-filler-cover {
	-fx-fill: -fx-background;
}
