@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: medium;
    src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
}


/* UI Specific Elements */
.title-background {
    -fx-background-image: url("../images/hospitalBackgroundImage.png");
    -fx-background-position: top left;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #ffffff;
    -fx-background-size: cover;
}
